{{range $f, $c := .}}{{$certLine := (print "Certificate (" $f ")" )}}
{{$certLine}}
{{separator $certLine}}
  Serial Number: {{$c.SerialOctet}}
  Have Corresponding Private Key: {{$c.HavePrivateKey}}
  Issuer: {{$c.SimpleIssuer}}
  Validity:
    Not Before: {{$c.NotValidBefore}}
    Not After: {{$c.NotValidAfter}}
  Subject Names:
    {{range $k, $v := $c.SimpleSubjectNames}}{{$k}}: {{$v}}
    {{end}}{{end}}

